.card{
    width: 320px;
    height: 360px;
    perspective: 900px;
    transform-style: preserve-3d;
}

.card .side{
    width: 320px;
    height: 360px;
    padding: 50px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 5px 2px rgba(50,50,50,0.25);
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 1.5s ease;

    .uBox {
        position: relative;
        width: 150px;

        input {
            position: relative;
            width: 100%;
            padding: 0 5px;
            background: transparent;
            outline: none;
            border: none;
            box-shadow: none;
            color: white;
            font-size: 0.8em;
            letter-spacing: 0.07em;
            transition: 1s;
            z-index: 10;

            &:valid~span,
            &:focus~span {
                color: purple;
                font-size: 0.7em;
                transform: translateY(-19px);
            }

            &:valid~i,
            &:focus~i {
                height: 25px;
                transform: translateX(-1px);
            }
        }

        span {
            position: absolute;
            left: 0;
            bottom: 0px;
            padding: 0px 0px 5px;
            pointer-events: none;
            color: #8f8f8f;
            font-size: 0.8em;
            letter-spacing: 0.05em;
            transition: 1s;
        }

        i {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 150px;
            height: 1px;
            background: linear-gradient(90deg, violet,purple);
            border-radius: 4px;
            overflow: hidden;
            transition: 1s;
            pointer-events: none;
            z-index: -1;
            transform: translateY(1px);
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: all 0s ease-in-out 5000s;
        }
    }

    p {
        font-size: 0.9em;
        font-weight: 500;
        text-align: center;
        margin-top: 8px;
        
        span {
            letter-spacing: 0.1em;
            cursor: pointer;
            color: purple;
        }
    }
}

.card svg{
    position: absolute;
    top: 75px;
    width: 200px;
    pointer-events: none;
}
.card path {
    fill: none;
    stroke: url(#linearGradient);;
    stroke-width: 4;
    stroke-dasharray: 240 1386;
    pointer-events: none;
    transition: 1s ease;
}

.card .side input[type="submit"]{
    // background-color: black;
    border: 1px solid #373c4f;
    width: 144px;
    padding: 3px 0 3.8px 0;
    border-radius: 14px;
    cursor: pointer;
    font-size: 0.95em;
    font-weight: 600;

    &:active,&:hover{
        opacity: 0.8;
        color: purple;
    }
}

.card .side h2{
    font-size: 1.2em;
    color: purple;
    margin-bottom: 25px;
}